In [2]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

In [5]:
df.loc['f', 'age'] = 1.5

In [6]:
# 18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.

In [7]:
df.sort_values(by=['age'], ascending=False, inplace=True)
df.sort_values(by=['visits'], inplace=True)

In [8]:
# 23. how do you subtract the row mean from each element in the row?
df1 = pd.DataFrame(np.random.random(size=(5, 3)))
rows_mean = df1.mean(axis=1)
df1.sub(rows_mean, axis=0)

          0         1         2
0 -0.016506  0.007013  0.009493
1 -0.011229  0.378601 -0.367372
2 -0.153731  0.433776 -0.280045
3  0.010972  0.410959 -0.421931
4  0.244199 -0.164452 -0.079746

In [9]:
# 24. Suppose you have DataFrame with 10 columns of real numbers, for example:
# df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
# Which column of numbers has the smallest sum? (Find that column's label.)

df2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
cols_sum = df2.sum(axis=0)

lst_of_key = list(dict(cols_sum).keys())
lst_of_val = list(dict(cols_sum).values())
index_of_min_value = lst_of_val.index(min(cols_sum))
print(lst_of_key[index_of_min_value])

e

In [11]:
# 26. You have a DataFrame that consists of 10 columns of floating--point numbers.
# Suppose that exactly 5 entries in each row are NaN values.
# For each row of the DataFrame, find the column which contains the third NaN value.
# df3 = pd.DataFrame(np.random.random(size=(5, 10)))
((df.isnull().cumsum(axis=1)) == 3).idxmax(axis="columns")

g    animal
j    animal
a    animal
h    animal
i    animal
e    animal
c    animal
b    animal
f    animal
d    animal
dtype: object

In [12]:
# 27. A DataFrame has a column of groups 'grps' and and column of numbers 'vals'.
# For each group, find the sum of the three greatest values.

df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                    'vals': [12, 345, 3, 1, 45, 14, 4, 52, 54, 23, 235, 21, 57, 3, 87]})

df.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64